<script type="text/x-tmpl" id="tmpl-auth-register">

    {% include('tmpl-sidebar-header', {title: "Create a new account", url: "#/auth/account"}); %}

    <p>Using an email to register can help you <a href="/auth/reset" data-navigo>recover your credentials</a> but will also allow you to create game tiles.</p>

    <form name="register"
          class="form-group form-auth"
          data-toggle="validator"
          accept-charset="UTF-8">

        <div class="form-group form-group-lg">
            <input type="text"
                   name="username"
                   class="form-control"
                   placeholder="Username (min 4 characters)"
                   data-minlength="4"
                   required>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group form-group-lg">
            <input type="email"
                   name="email"
                   class="form-control"
                   placeholder="Email address"
                   data-minlength="6"
                   required>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group form-group-lg">
                <input name="password"
                       id="pwd"
                       type="password"
                       class="form-control"
                       placeholder="Password min 6 characters"
                       data-minlength="6"
                       required>
                <div class="help-block with-errors"></div>
        </div>

        <div class="form-group form-group-lg">
                <input type="password"
                       data-match="#pwd"
                       class="form-control"
                       placeholder="Repeat password"
                       data-minlength="6"
                       data-match-error="Passwords must match"
                       required>
                <div class="help-block with-errors"></div>
        </div>

        <div class="btn-group btn-group-justified"
             role="group" >
            <div class="btn-group btn-group-lg" role="group">
                <button type="submit" class="btn btn-success">
                  <span>Register &raquo</span>
                </button>
            </div>
        </div>

    </form>

</script>
