<script type="text/x-tmpl" id="tmpl-form-garbage">

{% include('tmpl-sidebar-header', {title: "Mark garbage", url: "#/form/menu"}); %}

<form class="form-feature form-garbage" accept-charset="UTF-8" data-toggle="validator">

  <div class="tab-view">

    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a data-target="#garbage-main"         data-toggle="tab" class="tab-default"><span class="fa fa-fw fa-map-marker"></span></a></li>
      <li               ><a data-target="#garbage-quantitative" data-toggle="tab">                    <span class="fa fa-fw fa-bar-chart"></span></a></li>
      <li               ><a data-target="#garbage-info"         data-toggle="tab">                    <span class="fa fa-fw fa-question"></span></a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active form-group form-group-lg" id="garbage-main" role="tabpanel">

        <br>

        <input type="hidden" name="latlng" class="marker-latlng garbage-latlng">

        <div class="form-group">
          <p class="lead">Amount of garbage</p>
          <div class="btn-group btn-group-justified btn-group-amount btn-group-amount-garbage" data-toggle="buttons">
            <label class="btn btn-lg btn-limegreen"> <input type="radio" autocomplete="off" value="1" name="amount">1</label>
            <label class="btn btn-lg btn-yellow" >   <input type="radio" autocomplete="off" value="2" name="amount">2</label>
            <label class="btn btn-lg btn-orangered"> <input type="radio" autocomplete="off" value="3" name="amount">3</label>
            <label class="btn btn-lg btn-red" >      <input type="radio" autocomplete="off" value="4" name="amount">4</label>
            <label class="btn btn-lg btn-violet" >   <input type="radio" autocomplete="off" value="5" name="amount">5</label>
          </div>
        </div>

      <div class="dropdown form-group">
          <select class="selectpicker garbage-type-select form-control"
                  id="type-select"
                  title="What kind?"
                  data-selected-text-format="count"
                  data-width="100%"
                  data-max-options="20"
                  name="type"
                  width="fit"
                  multiple
                  required>
          </select>
          <div class="help-block with-errors"></div>
      </div>

      <div class="dropdown form-group">
          <select class="selectpicker form-control garbage-todo-select"
                  title="What to do here?"
                  data-width="100%"
                  name="todo"
                  width="fit">
              <!-- <option value="" disabled="disabled"></option> -->
              <option value="1">It has been cleaned up already</option>
              <option value="2">Need help to clean it up</option>
              <option value="3">Need to pick up bags</option>
              <option value="4">Organize a cleaning</option>
              <option value="5">Tell local authorities</option>
          </select>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group form-group-lg">

        <div class="row">
            <div class="input-lg col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <input class="form-control feature-tags"
                   type="text"
                   name="tags"
                   placeholder="Add tags (max 3)"/>
            </div>
        </div>

      </div>

      </div><!-- main garbage pane -->

      <div class="tab-pane form-group form-group-lg" id="garbage-quantitative" role="tabpanel">

      <br>

        <div class="dropdown form-group">
            <select class="selectpicker form-control garbage-size-select"
                    title="What size?"
                    data-selected-text-format="count"
                    data-width="100%"
                    name="sizes"
                    width="fit"
                    mobile="true"
                    multiple>
                <option value="1">Too big to carry alone</option>
                <option value="2">Large pieces</option>
                <option value="3">Easily visible</option>
                <option value="4">Easily missed</option>
                <option value="5">Too small to pick up by hand</option>
                <option value="6">Cannot see it</option>
            </select>
        </div>


        <div class="dropdown form-group">
            <select class="selectpicker form-control garbage-embed-select"
                    title="Where is it?"
                    data-selected-text-format="count"
                    data-width="100%"
                    name="emnbed"
                    multiple >
                <option value="1">Vegetation</option>
                <option value="2">Water</option>
                <option value="3">Stones, rocks</option>
                <option value="4">Sand, gravel</option>
                <option value="5">Soil, sediment</option>
                <option value="6">Ice, snow</option>
            </select>
        </div>


        <div class="form-group-lg form-group" style="width:100%">
          <textarea class="form-control garbage-note"
                    rows="3"
                    name="note"
                    placeholder="Add a note about this marker"
                    data-maxlength="140"
                    data-minlength="10"
                    data-pattern="^[a-zA-Z\d\-_.,?!\s]+$"></textarea>
          <div class="help-block with-errors"></div>
        </div>

      {% include('tmpl-form-image-upload', {uploadclass: "garbage"}); %}

      </div>

      <div class="tab-pane form-group form-group-lg" id="garbage-info" role="tabpanel">
      <br>
        <p class="lead"> Anybody can mark trash anonymously on the map. If you wish not to register use the anonymous login option Markers can only be placed between zoom level 10 and 20 (<a onclick="maps.map.setZoom(15)">zoom to level 10 now</a>). When choosing the amount of garbage on the scale of 1 to 5, think of 1 as 'some garbage pieces here and there' and 5 as a dumpster.</p>
      </div>
    </div>
  </div>

  {% include('tmpl-form-save', {saveclass: "btn-save-garbage"}); %}

</form>

</script>
