<script type="text/x-tmpl" id="tmpl-form-main">
<!-- TODO extract the head and submit buttons from the if blocks and add code for values for the edit system -->
{% if (o.garbage) { %}

<form class="form-feature form-garbage" accept-charset="UTF-8" data-toggle="validator">

  <h3>
  <!--<span><a class="menu-backlink fa fa-fw fa-chevron-circle-left pull-left hidden-xs" href="#create-marker-dialog"></a></span>-->
  Mark garbage
  </h3>

  <div class="tab-view">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a class="tab-default" href="#garbage-main" data-toggle="tab"><span class="fa fa-fw fa-map-marker"></span></a></li>
      <li><a href="#garbage-quantitative" data-toggle="tab"><span class="fa fa-fw fa-bar-chart-o"></span></a></li>
      <li><a href="#garbage-info" data-toggle="tab"><span class="fa fa-fw fa-question"></span></a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active form-group form-group-lg" id="garbage-main" role="tabpanel">

        <br>

        <input type="hidden" name="latlng" class="marker-latlng garbage-latlng">

        <div class="form-group">
          <p class="lead">Amount of garbage</p>
          <div class="btn-group btn-group-justified btn-group-amount btn-group-amount-garbage" data-toggle="buttons">
            <label class="btn btn-lg btn-limegreen"><input type="radio" autocomplete="off" value="1" name="amount">1</label>
            <label class="btn btn-lg btn-yellow" ><input type="radio" autocomplete="off" value="2" name="amount">2</label>
            <label class="btn btn-lg btn-orangered" ><input type="radio" autocomplete="off" value="3" name="amount">3</label>
            <label class="btn btn-lg btn-red" ><input type="radio" autocomplete="off" value="4" name="amount">4</label>
            <label class="btn btn-lg btn-violet" ><input type="radio" autocomplete="off" value="5" name="amount">5</label>
          </div>
      </div>

      <div class="dropdown form-group">
          <select class="selectpicker garbage-type-select form-control"
                  id="garbage-select"
                  title="What kind?"
                  data-selected-text-format="count"
                  data-width="100%"
                  data-max-options="20"
                  name="type"
                  required
                  width="fit"
                  mobile="true"
                  multiple>
          </select>
          <div class="help-block with-errors"></div>
      </div>

      <div class="dropdown">
          <select class="selectpicker form-control garbage-todo-select"
                  title="What to do here?"
                  data-width="100%"
                  name="todo"
                  width="fit"
                  mobile="true"
                  required>
              <option value="" disabled="disabled"></option>
              <option value="1">It has been cleaned up already</option>
              <option value="2">Need help to clean it up</option>
              <option value="3">Need to pick up bags</option>
              <option value="4">Organize a cleaning</option>
              <option value="5">Tell local authorities</option>
          </select>
        <div class="help-block with-errors"></div>
      </div>

      <div class="form-group form-group-lg">

        <div class="row">
            <div class="input-lg col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <input class="form-control feature-tags garbage-tags"
                   type="text"
                   name="tags"
                   placeholder="Add tags (max 3)"/>
            </div>
        </div>

      </div>

      </div><!-- main garbage pane -->

      <div class="tab-pane form-group form-group-lg" id="garbage-quantitative" role="tabpanel">

      <br>

        <div class="dropdown form-group">
            <select class="selectpicker form-control garbage-size-select"
                    title="What size?"
                    data-selected-text-format="count"
                    data-width="100%"
                    name="size"
                    width="fit"
                    mobile="true"
                    multiple >
                <option value="1">Too big to carry alone</option>
                <option value="2">Large pieces</option>
                <option value="3">Easily visible</option>
                <option value="4">Easily missed</option>
                <option value="5">Too small to pick up by hand</option>
                <option value="6">Cannot see it</option>
            </select>
        </div>


        <div class="dropdown form-group">
            <select class="selectpicker form-control garbage-embed-select"
                    title="Where is it?"
                    data-selected-text-format="count"
                    data-width="100%"
                    name="environ"
                    multiple >
                <option value="1">Vegetation</option>
                <option value="2">Water</option>
                <option value="3">Stones, rocks</option>
                <option value="4">Sand, gravel</option>
                <option value="5">Soil, sediment</option>
                <option value="6">Ice, snow</option>
            </select>
        </div>


        <div class="form-group-lg form-group" style="width:100%">
          <textarea class="form-control garbage-note"
                    rows="3"
                    name="note"
                    placeholder="Add a note about this marker"
                    data-maxlength="140"
                    data-minlength="10"
                    data-pattern="^[a-zA-Z\d\-_.,?!\s]+$"></textarea>
          <div class="help-block with-errors"></div>
        </div>

      <div class="form-group">
        <div class="input-group input-group-lg">
          <!-- Uploader part need to follow the following strict format -->
              <span class="input-group-btn">
                  <button class="btn btn-default btn-image-uploader" type="button">
                  <span class="fa fa-fw fa-file-image-o"></span></button>
                  <input class="image-uploader"
                         type="file"
                         style="display:none;">
              </span>

             <input type="text" name="image" class="form-control garbage-image-hidden-value" placeholder="Upload an image">
        </div>

        <div class="progress hidden">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width:%"></div>
        </div>

      </div>

      </div>

      <div class="tab-pane form-group form-group-lg" id="garbage-info" role="tabpanel">
      <br>
        <p class="lead"> Anybody can anonymously mark trash on the map. If you wish not to register use the anonymous login option Markers can only be placed between zoom level 10 and 20 (<a href="#" onclick="map.setZoom(15)">zoom to level 10 now</a>). When choosing the amount of garbage on the scale of 1 to 5, think of 1 as 'a little' and 5 as a dumpster.</p>
      </div>
    </div>
  </div>

  <!-- Create the marker -->
  <div>
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group btn-group-lg" role="group">
          <button type="submit"
                  class="btn btn-success btn-save btn-save-garbage">
          <span class="fa fa-fw fa-check"></span><span class="hidden-xs">Save</span>
          </button>
      </div>
      <div class="btn-group btn-group-lg" role="group">
          <button type="button"
                  class="btn btn-danger btn-cancel">
          <span class="fa fa-fw fa-times"></span><span class="hidden-xs">Cancel</span>
          </button>
      </div>
  </div>
</div>
</form>
{% } %}

{% if (o.cleaning) { %}

<form class="form-feature form-cleaning " data-toggle="validator">

<h3>
  <!--<span><a class="menu-backlink fa fa-fw fa-chevron-circle-left pull-left hidden-xs" href="#create-marker-dialog"></a></span>-->
  Add a cleaning event
</h3>

  <div class="tab-view">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a class="tab-default" href="#cleaning-main-tab" data-toggle="tab"><span class="fa fa-fw fa-calendar"></span></a></li>
      <li><a href="#cleaning-info-tab" data-toggle="tab"><span class="fa fa-fw fa-question"></span></a></li>
    </ul>

      <div class="tab-content">

        <br>

        <div class="tab-pane active form-group form-group-lg" id="cleaning-main-tab" role="tabpanel">

          <input type="hidden" name="latlng" class="marker-latlng cleaning-latlng">

          <!-- Date and time picker for events -->
          <div class="container" style="width:100%">
            <div class="row">
                <div class="form-group">
                    <div class="input-group" id="event-date-time-picker" style="width:100%">
                        <input type="datetime"
                               id="event-date-time-input"
                               class="form-control"
                               placeholder="Starting date"
                               name="datetime"
                               required>
                    </div>
                </div>
            </div>
          </div>

          <div class="dropdown">
              <select class="selectpicker form-control cleaning-recurrent-select"
                      title="Set event recurrence"
                      data-width="100%"
                      name="recurrence"
                      width="fit"
                      mobile="true"
                      required>
                  <option value="" disabled="disabled"></option>
                  <option value="none">None</option>
                  <option value="daily">Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
              </select>
              <div class="help-block with-errors"></div>
          </div>

          <div class="form-group form-group-lg" style="width:100%">
            <textarea class="cleaning-note form-control"
                      rows="3"
                      name="note"
                      placeholder="Add an external link for this event"
                      data-maxlength="140"
                      data-pattern="^[a-zA-Z\d\-_.,?!\|\/:@\s]+$"></textarea>
              <div class="help-block with-errors"></div>
          </div>

          <div class="row">
              <div class="input-lg col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <input class="form-control feature-tags cleaning-tags"
                     type="text"
                     name="tags"
                     placeholder="Add tags (max 3)"/>
              </div>
          </div>
        </div>

        <div class="tab-pane form-group form-group-lg" id="cleaning-info-tab" role="tabpanel">
          <p class="lead">A marker for a cleaning event is meant for a location where trash has already been identified. Facebook users can choose whether to create a Facebook event simultaneously. <a class="sidebar-link" href="#user-login-dialog">Login</a> or <a class="sidebar-link" href="#create-account-dialog" >register</a> with an email to create an event.</p>
        </div>
      </div>

  </div>

  <div>
      <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group btn-group-lg" role="group">
              <button type="submit"
                      class="btn btn-success btn-save btn-save-cleaning">
                  <span class="fa fa-fw fa-check"></span><span class="hidden-xs">Save</span>
              </button>
          </div>
          <div class="btn-group btn-group-lg" role="group">
              <button type="button"
                      title="Cancel"
                      class="btn btn-danger btn-cancel">
                  <span class="fa  fa-fw fa-times"></span><span class="hidden-xs">Cancel</span>
              </button>
          </div>
          <!-- see https://developers.facebook.com/docs/graph-api/reference/event -->
      </div>
  </div><!-- Create the marker -->
</form>
{% } %}

{% if (o.litter) { %}

<form class="form-feature form-litter" data-toggle="validator">

<h3>
  <!--<span><a class="menu-backlink fa fa-fw fa-chevron-circle-left pull-left hidden-xs" href="#create-marker-dialog"></a></span>-->
  Mark litter
</h3>

<div class="tab-view">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a class="tab-default" href="#litter-main" data-toggle="tab"><span class="fa fa-fw fa-map-marker"></span></a></li>
    <li><a href="#litter-quantitative" data-toggle="tab"><span class="fa fa-fw fa-bar-chart-o"></span></a></li>
    <li><a href="#litter-info" data-toggle="tab"><span class="fa fa-fw fa-question"></span></a></li>
  </ul>

  <div class="tab-content">
  <br>
  <div class="tab-pane active form-group form-group-lg" id="litter-main" role="tabpanel">

    <div>
      <button type="button" class="btn btn-lg btn-block btn-default btn-draw btn-draw-polyline">
        <span class="fa fa-fw fa-pencil"></span> Start drawing
      </button>
    </div>

    <input type="hidden" name="latlngs" class="litter-latlngs">

    <br>

      <div class="form-group">
        <p class="lead">Amount of garbage</p>

        <div class="btn-group btn-group-justified btn-group-amount btn-group-amount-litter" data-toggle="buttons">
          <label class="btn btn-lg btn-limegreen"><input type="radio" name="amount" value="1" autocomplete="off">1</label>
          <label class="btn btn-lg btn-yellow"><input type="radio" name="amount" value="2" autocomplete="off">2</label>
          <label class="btn btn-lg btn-orangered"><input type="radio" name="amount" value="3" autocomplete="off" checked>3</label>
          <label class="btn btn-lg btn-red"><input type="radio" name="amount" value="4" autocomplete="off">4</label>
          <label class="btn btn-lg btn-violet"><input type="radio" name="amount" value="5" autocomplete="off">5</label>
        </div>
    </div>

    <div class="dropdown form-group form-group-lg" >
        <select class="selectpicker litter-type-select form-control"
                title="What kind of litter?"
                name="type"
                multiple
                data-live-search="true"
                data-selected-text-format="count"
                data-max-options="10"
                data-width="100%"
                required
                width="fit"
                mobile="true"
                id="litter-select"></select>
    <div class="help-block with-errors"></div>
    </div><!-- Select the type of trash -->

    <div class="form-group form-group-lg" style="width:100%">
      <textarea class="form-control litter-note"
                rows="3"
                name="note"
                placeholder="Add a note about this feature"
                data-minlength="10"
                data-maxlength="140"
                data-pattern="^[a-zA-Z\d\-_.,?!\s]+$"></textarea>
    </div>
    <div class="help-block with-errors"></div>

  </div>

  <div class="tab-pane form-group form-group-lg" id="litter-quantitative" role="tabpanel">

  <div class="form-group">
      <div class="input-group input-group-lg">
            <span class="input-group-btn">
                <button class="btn btn-default btn-image-uploader"
                        type="button">
                <span class="fa fa-fw fa-file-image-o"></span></button>
                <input class="image-uploader" type="file" style="display:none;">
            </span>

            <input type="text"
                   class="form-control litter-image-hidden-value"
                   name="image"
                   placeholder="Upload an image">
      </div>

      <div class="progress hidden">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:%"></div>
      </div>

    </div>

    <div class="form-group form-group-lg" style="width:100%">
        <input class="form-control litter-amount-quantitative"
                  type="number"
                  name="quantitative"
                  min="1"
                  step="1"
                  placeholder="Garbage pieces per unit length">
    </div>

    <div class="form-group form-group-lg" style="width:100%">
        <input id="litter-raw-length"
               class="form-control litter-path-length"
               placeholder="Length of the path"
               name="lengthm">
    </div>

    <div class="row">
      <div class="input-lg col-lg-12 col-sm-12 col-xs-12 col-md-12">
      <input class="form-control feature-tags litter-tags"
             type="text"
             name="tags"
             placeholder="Add tags (max 3)">
      </div>
    </div>

  </div>

  <div class="tab-pane form-group form-group-lg" id="litter-info" role="tabpanel">

    <p class="lead">Litter lines identify long stretches of land that accumulate garbage, such as shorelines, river banks and road shoulders. Click the <em>Start drawing</em> button in the first tab of this form to start drawing. You can cancel drawing at any time by pressing <kbd>Esc</kbd>.</p>

</div>

</div>

</div>

 <!-- Create the polyline -->
<div>
  <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group btn-group-lg" role="group">
          <button type="submit"
                  class="btn btn-success btn-save btn-save-litter">
          <span class="fa fa-fw fa-check"></span><span class="hidden-xs">Save</span>
          </button>
      </div>
      <div class="btn-group btn-group-lg" role="group">
          <button type="button"
                  class="btn btn-danger btn-cancel btn-cancel-shape">
          <span class="fa fa-fw fa-times"></span><span class="hidden-xs">Cancel</span>
          </button>
      </div>
  </div>
</div>
<br>
</form>
{% } %}

{% if (o.area) { %}

<form class="form-feature form-area" data-toggle="validator">

<h3>
  <!--<span><a class="menu-backlink fa fa-fw fa-chevron-circle-left pull-left hidden-xs" href="#create-marker-dialog"></a></span>-->
  Create an area
</h3>

  <div class="tab-view">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a class="tab-default" href="#area-main" data-toggle="tab"><span class="fa fa-fw fa-square-o"></span></a></li>
      <li><a href="#area-tools" data-toggle="tab"><span class="fa fa-fw fa-gamepad"></span></a></li>
      <li><a href="#area-info" data-toggle="tab"><span class="fa fa-fw fa-question"></span></a></li>
    </ul>

    <div class="tab-content">

      <br>

      <div class="tab-pane active form-group form-group-lg" id="area-main" role="tabpanel">

        <div class="form-group">
          <button type="button" class="btn btn-lg btn-block btn-default btn-draw btn-draw-polygon">
            <span class="fa fa-fw fa-pencil"></span> Start drawing
          </button>
        </div>

        <input type="hidden" name="latlngs" class="area-latlngs">

        <div class="form-group form-group-lg" style="width:100%">
          <input class="form-control area-title"
                 placeholder="Use a custom area name"
                 name="title"
                 data-maxlength="12"
                 data-minlength="12"
                 data-pattern="^[a-zA-Z0-9]+$">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group form-group-lg" style="width:100%">
          <textarea class="form-control area-note"
                    rows="3"
                    name="note"
                    data-pattern="^[a-zA-Z\d\-_.,?!\s]+$"
                    data-maxlength="140"
                    data-minlength="10"
                    placeholder="Add a note about this area"></textarea>
        <div class="help-block with-errors"></div>
        </div>


        <div class="row">
            <div class="input-lg col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <input class="form-control feature-tags area-tags"
                   type="text"
                   name="tags"
                   placeholder="Add tags (max 3)"/>
            </div>
        </div>

      </div>

      <div class="tab-pane form-group form-group-lg" id="area-tools" role="tabpanel">

        <div class="alert alert-warning" role="alert">
            <span class="fa fa-fw fa-exclamation"></span>
              This tool is not yet available.
        </div>

        <div class="form-group">
          <div class="checkbox form-group-lg tile-game-check">
            <label><input name="game" type="checkbox">Enable game mode for this area.</label>
          </div>
        </div>

        <div class="form-group form-group-lg" style="width:100%">
          <input class="form-control area-players"
                 type="number"
                 min="1"
                 max="100"
                 step="1"
                 name="players"
                 placeholder="Number of players"
                 required>
          <div class="help-block with-errors"></div>
        </div>

        <div class=" form-group tile-game-secret">

            <div class="form-group form-group-lg" style="width:100%">
                <input class="form-control disabled area-secret"
                       placeholder="Set the secret to access this game"
                       name="secret"
                       required>
            </div>
            <div class="form-group form-group-lg" style="width:100%">
                <input class="form-control disabled area-contact"
                       placeholder="Set a contact info for this game"
                       name="contact"
                       required>

              <div class="help-block with-errors"></div>
            </div>

        </div>

      </div>

      <div class="tab-pane form-group form-group-lg" id="area-info" role="tabpanel">

        <p class="lead">Areas are used to overlay a summary of map features. They can serve as feeds for a given perimeter which can be accessed via our <a href="https://www.github.com/garbageplanet/" target="_blank">API</a>.  They can also be used to restrict actions to a zone during games. Specify an <em>areaname</em> and it can be called through our API using <em>@areaname</em>. If a name is not set, a random id will be assigned.</p>

      </div>

    </div>
  </div>

      <div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group btn-group-lg" role="group">
                <button type="submit" class="btn btn-success btn-save bnt-save-area">
                    <span class="fa fa-fw fa-check"></span><span class="hidden-xs">Save</span>
                </button>
            </div>
            <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="btn btn-danger btn-cancel">
                    <span class="fa fa-fw fa-times"></span><span class="hidden-xs">Cancel</span>
                </button>
            </div>
        </div>
      </div>

</form>
{% } %}
</script>
