<script type="text/x-tmpl" id="tmpl-info-privacy">

{% include('tmpl-sidebar-header', {title: "Privacy policy and data protection", url: "#/info/credits"}); %}

<p>Garbagepla.net uses <a href="https://policies.google.com/privacy" target="_blank">Google Analytics</a>, <a href="http://imgur.com/privacy" target="_blank">Imgur</a> and <a href="https://www.mapbox.com/privacy/" target="_blank">Mapbox</a> for user statistics, saving and retrieving map and images data, by using the platform you agree to the use of cookies by these sites and to the terms of their privacy policies.</p>

</script>
