<script type="text/x-tmpl" id="tmpl-topbar-main">

    <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">
      <div class="navbar-header col-lg-12 col-xl-12 col-sm-12 col-xs-12">
        <a class="navbar-brand pull-left" href="#"><span class="navbar-brand-icon fa fa-fw fa-trashbag"></span><strong class="navbar-brand-name">Garbageplanet </strong><kbd class="hidden-xs hidden-sm">{%=o.version%}</kbd></a>

        <div class="pull-right">

          <ul class="nav navbar-nav">

            <li class="session-link">
              <a href="/auth/glomego" class="btn btn-success btn-glome-shortcut fa fa-user-secret" title="One-click anonymous login." data-navigo>
                <i class=""></i>
              </a>
            </li>

            <li class="dropdown">
              <a title="Map and data tools" class="dropdown-toggle btn" data-toggle="dropdown" href="#"><span class="fa fa-fw fa-cloud-download"></span><span class="hidden title-collapsed">Map tools</span></a>
              <ul class="dropdown-menu" id="dropdown-map-tools">
                <li><a title="Download map data" id="modal-list-garbage"  href="/info/data" name="garbage" class="modal-link modal-list-garbage" data-navigo>Get data</a></li>
                <li><a title="Cleaning calendar" id="modal-list-cleaning" href="/info/calendar" name="cleaning" class="modal-link modal-list-cleaning" data-navigo>Cleaning calendar</a></li>
                <li class="divider"></li>
                <li><a id="btn-trashbins" href="/info/trashbins" data-navigo>Nearby trashbins</a></li>
                <li class="disabled"><a href="/info/forecast" data-navigo>Local forecast</a></li>
                <li class="disabled"><a href="/info/hotspots" data-navigo>Hotspots</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a title="User menu and platform infos" class="dropdown-toggle btn" data-toggle="dropdown" href="#"><span class="fa fa-fw fa-user"></span><span class="hidden title-collapsed">User tools</span></a>
              <ul class="dropdown-menu" id="dropdown-user-tools">

                <li><a id="user-tools-auth"href="/auth/login" data-navigo>Login</a></li>
                <li class="divider"></li>
                <li><a href="/info/credits" data-navigo>About</a></li>
                <li class="disabled"><a href="/info/tour" id="btn-tour" data-navigo>Tour </a></li>

              </ul>
            </li>

          </ul>
        </div>

      </div>

    </div>
  </nav>
</script>
