<script type="text/x-tmpl" id="tmpl-form-litter">

{% include('tmpl-sidebar-header', {title: "Mark litter", url: "#/form/menu"}); %}

<form class="form-feature form-litter" data-toggle="validator">

<div class="tab-view">

  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a data-target="#litter-main"         data-toggle="tab" class="tab-default"><span class="fa fa-fw fa-map-marker"></span></a></li>
    <li               ><a data-target="#litter-quantitative" data-toggle="tab"                    ><span class="fa fa-fw fa-bar-chart"></span></a></li>
    <li               ><a data-target="#litter-info"         data-toggle="tab"                    ><span class="fa fa-fw fa-question"></span></a></li>
  </ul>

  <div class="tab-content">
  <br>
  <div class="tab-pane active form-group form-group-lg" id="litter-main" role="tabpanel">

    <div>
      <button type="button" class="btn btn-lg btn-block btn-default btn-draw btn-draw-polyline" name="polyline">
        <span class="fa fa-fw fa-pencil"></span> Start drawing
      </button>
    </div>

    <input type="hidden" name="latlngs" class="latlngs">

    <br>

      <div class="form-group">
        <p class="lead">Amount of garbage</p>

        <div class="btn-group btn-group-justified btn-group-amount btn-group-amount-litter" data-toggle="buttons">
          <label class="btn btn-lg btn-limegreen"><input type="radio" name="amount" value="1" autocomplete="off">1</label>
          <label class="btn btn-lg btn-yellow"><input type="radio" name="amount" value="2" autocomplete="off">2</label>
          <label class="btn btn-lg btn-orangered"><input type="radio" name="amount" value="3" autocomplete="off" checked>3</label>
          <label class="btn btn-lg btn-red"><input type="radio" name="amount" value="4" autocomplete="off">4</label>
          <label class="btn btn-lg btn-violet"><input type="radio" name="amount" value="5" autocomplete="off">5</label>
        </div>
    </div>

    <div class="dropdown form-group form-group-lg" >
        <select class="selectpicker litter-type-select form-control"
                title="What kind of litter?"
                name="type"
                multiple
                data-live-search="true"
                data-selected-text-format="count"
                data-max-options="10"
                data-width="100%"
                required
                width="fit"
                mobile="true"
                id="type-select"></select>
    <div class="help-block with-errors"></div>
    </div>

    <div class="form-group form-group-lg" style="width:100%">
      <textarea class="form-control litter-note"
                rows="3"
                name="note"
                placeholder="Add a note about this feature"
                data-minlength="10"
                data-maxlength="140"
                data-pattern="^[a-zA-Z\d\-_.,?!\s]+$"></textarea>
    </div>
    <div class="help-block with-errors"></div>

  </div>

  <div class="tab-pane form-group form-group-lg" id="litter-quantitative" role="tabpanel">

    {% include('tmpl-form-image-upload', {uploadclass: "litter"}); %}

    <div class="form-group form-group-lg" style="width:100%">
        <input class="form-control litter-amount-quantitative"
                  type="number"
                  name="amount_quantitative"
                  min="1"
                  step="1"
                  placeholder="Garbage pieces per unit length">
    </div>

    <div class="form-group form-group-lg" style="width:100%">
        <input id="litter-physical-length"
               class="form-control litter-path-length"
               placeholder="Length of the path"
               name="physical_length">
    </div>

    <div class="row">
      <div class="input-lg col-lg-12 col-sm-12 col-xs-12 col-md-12">
      <input class="form-control feature-tags litter-tags"
             type="text"
             name="tags"
             placeholder="Add tags (max 3)">
      </div>
    </div>

  </div>

  <div class="tab-pane form-group form-group-lg" id="litter-info" role="tabpanel">

    <p class="lead">Litter lines identify long stretches of land that accumulate garbage, such as shorelines, river banks and road shoulders. Click the <em>Start drawing</em> button in the first tab of this form to start drawing. You can cancel drawing at any time by pressing <kbd>Esc</kbd>.</p>

</div>

</div>

</div>

{% include('tmpl-form-save', {saveclass: "btn-save-litter"}); %}

</form>

</script>
