<script type="text/x-tmpl" id="tmpl-auth-login">

    <div><h4>Login anonymously</h4></div>

    <form class="form-group">
      <div class="form-group form-group-lg">
        <div>
            <button class="btn btn-info btn-lg btn-block btn-glome-go">Glome Go &raquo;</button>
        </div>
      </div>
    </form>

    <form id="login-form" class="form-group" accept-charset="UTF-8" data-toggle="validator">
      <div class="form-group form-group-lg">
        <h4>Login with an account</h4>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" id="login-email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" id="login-password" required>
        </div>
        <div>
          <div class="form-group">
            <button type="submit" class="btn btn-info btn-lg btn-block btn-login">Login &raquo;</button>
          </div>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </form>

    <div>
        <p>
          <a class="sidebar-link" href="#/auth/glome">I already have a Glome soft account</a><br>
          <a class="sidebar-link" href="#/auth/pwd">Forgotten your password?</a><br>
          <a href="http://www.glome.me" target="_blank">About Glome</a><br>
          <a class="sidebar-link" href="#/auth/login">Register</a><br>
        </p>
    </div>
    <br>

</script>
