<script type="text/x-tmpl" id="tmpl-mobile-menu">

<div class="form-group form-group-lg mobile-menu">
    <a href="#create-account-dialog" class="btn btn-default btn-lg btn-block session-link" data-navigo><span class="fa fa-fw fa-user"></span> Register</a>
    <a href="#/auth/login" class="btn btn-default btn-lg btn-block session-link" data-navigo><span class="fa fa-fw fa-key"></span> Login</a>
    <a href="#" class="btn btn-default btn-lg btn-block btn-glome-go session-link"><span class="fa fa-fw fa-user-secret"></span> Anon login</a>
    <!-- <a href="#/info/search" class="btn btn-default btn-lg btn-block"><span class="fa fa-fw fa-search"></span> Search</a> -->
    <!-- <a href="#" class="btn btn-default btn-lg btn-block disabled"><span class="fa fa-fw fa-cloud"></span> Forecast</a> -->
    <a href="#/info/credits" class="btn btn-default btn-lg btn-block" data-navigo><span class="fa fa-fw fa-question"></span> About</a>
</div>

</script>
