<script type="text/x-tmpl" id="tmpl-auth-login">

    {% include('tmpl-sidebar-header', {title: "Login with an account", url: "#/auth/account"}); %}

    <form class="form-group form-auth"
          name="login"
          accept-charset="UTF-8"
          data-toggle="validator">

      <div class="form-group form-group-lg">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" name="email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password" required>
        </div>
        <div>
          <div class="form-group">
            <button type="submit" class="btn btn-info btn-lg btn-block btn-login">Login &raquo;</button>
          </div>
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </form>

    <div>
        <p>
          <a href="/auth/glome" data-navigo>I already have a Glome soft account</a><br>
          <a href="/auth/reset" data-navigo>Forgotten your password?</a><br>
          <a href="http://www.glome.me" target="_blank">About Glome</a><br>
          <a href="/auth/register" data-navigo>Register</a><br>
        </p>
    </div>
    <br>

</script>
