<script type="text/x-tmpl" id="tmpl-info-account">

  {% include('tmpl-sidebar-header', {title: "Account details", url: "#/info/credits"}); %}

  <br class="hidden-lg hidden-xl">

  <div class="tab-view">

      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a data-target="#user-info-main"  data-toggle="tab" class="tab-default"><span class="fa fa-fw fa-user"></span></a></li>
        <li               ><a data-target="#user-info-terms" data-toggle="tab"                    ><span class="fa fa-fw fa-info"></span></a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active form-group form-group-lg" role="tabpanel">

          <h3>Welcome, <span>{%=o.username%}</span></h3>

          <h4>User id</h4>
            <p>{%=o.id%}</p>

          {% if (o.key) { %}
          <h4>Glome key value</h4>
            <p>{%=o.key%}</p>
          {% } %}

          {% if (o.email) { %}
          <h4>Email</h4>
            <p>{%=o.email%}</p>
          {% } %}

          <br>

          <button href="/auth/logout" type="button" class="btn btn-default btn-lg btn-block btn-logout" data-navigo>
            Logout
          </button>

          <br>

          <div class="pull-left">
            <p><a href="#/auth/delete" data-navigo>Delete</a> your account.</p>
            <p><a href="#/info/privacy" data-navigo>Privacy policy</a></p>
            <p><a href="#/auth/change" data-navigo>Change your password</a></p>
            <p><a href="#/auth/change" data-navigo>Change your email</a></p>
          </div>

        </div>

        <div class="tab-pane form-group form-group-lg" id="user-info-terms" role="tabpanel">
          <h3>Terms of service</h3>
          <p>As a user (anybody who has created an account or is creating markers anonymously) of the grabagepla.net platform, you agree to use this platform for the sole purpose that it was designed for and no other ends including but not limited to the promotion of hate speech, third-party material advertisement or any other illegal activity.</p>
          <p>The underlying software is distributed under the <a href="https://opensource.org/licenses/ISC" target="_blank">ISC Licence</a>. The data gathered by this platform is available upon request under the ODC Open Database License (<a href="http://opendatacommons.org/licenses/odbl/" target="_blank">ODbL v1.0</a>). The garbagepla.net logo is licensed under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0</a> International License.</p>
        </div>

      </div>
    </div>

</script>
