<script type="text/x-tmpl" id="tmpl-sidebar-main">

    <div class="sidebar-content" id="mobile-menu-dialog">
        <div class="form-group form-group-lg mobile-menu">
            <a href="#create-account-dialog" class="sidebar-link btn btn-default btn-lg btn-block session-link"><span class="fa fa-fw fa-user"></span> Register</a>
            <a href="#user-login-dialog" class="sidebar-link btn btn-default btn-lg btn-block session-link"><span class="fa fa-fw fa-key"></span> Login</a>
            <a href="#" class="btn btn-default btn-lg btn-block btn-glome-go session-link"><span class="fa fa-fw fa-user-secret"></span> Anon login</a>
            <a href="#search-dialog" class="sidebar-link btn btn-default btn-lg btn-block"><span class="fa fa-fw fa-search"></span> Search</a>
            <a href="#" class="sidebar-link btn btn-default btn-lg btn-block disabled"><span class="fa fa-fw fa-cloud"></span> Forecast</a>
            <a href="#credits-dialog" class="sidebar-link btn btn-default btn-lg btn-block"><span class="fa fa-fw fa-question"></span> About</a>
        </div>
    </div>




    <div class="sidebar-content" id="recover-credentials">
        <h2>
            <span class="logged-out">
              <a class="menu-backlink fa fa-fw fa-chevron-circle-left pull-left"
                 href="#user-login-dialog">
              </a>
            </span>
        Recover your account information
        </h2>
        <p class="lead">Please provide the email address you have used to register. If you encounter an issue while recovering your credentials you can also <a href="mailto:info@garbagepla.net?Subject=Halp" target="_top">contact us</a>.</p>

      <form id="recover-credentials-form"
              class="form-group"
              accept-charset="UTF-8"
              data-toggle="validator">
      <div class="form-group input-group input-group-lg form-group form-group-lg">
                <input type="email"
                       class="form-control"
                       placeholder="Your email"
                       with-error>
                <span class="input-group-btn">
                      <button class="btn btn-default btn-lg"
                              type="submit">
                          <span class="fa fa-fw fa-envelope-o"></span> Submit</button>
                </span>
        </div>
        <br>
        <div>
            <div class="alert alert-danger hidden" role="alert">
                <span class="fa fa-fw fa-exclamation"></span>
                <span class="sr-only">Error:</span>
                        Sorry, there is no user registered with this email.
            </div>
            <div class="alert alert-success hidden" role="alert">
                <span class="fa fa-fw fa-check"></span>
                <span class="sr-only">Error:</span>
                        Check your inbox!
            </div>
        </div>
        </form>
</div>

</script>
