<script type="text/x-tmpl" id="tmpl-feature-info">
    <div class="row row-horizon bottombar-content" id="feature-info">
        <div class="card-actions col-xl-1 col-lg-1 col-md-1 col-ms-1 col-sm-2 col-xs-2">
                <div class="btn-group-vertical center-block" role="group">

                    <div class="btn-group btn-group-lg" role="group">
                        <button name="edit" type="button" title="Edit this feature" class="btn btn-warning btn-edit btn-round sidebar-link btn-feature">
                            <span name="edit" class="fa fa-pencil"></span>
                        </button>
                    </div>

                    <div class="btn-group btn-group-lg hidden-xs" role="group">
                        <button name="delete" type="button" title="Delete this feature" class="btn btn-danger btn-round btn-delete btn-feature">
                            <span name="delete" class="fa fa-times"></span>
                        </button>
                    </div>

                    {% if (o.amount) { %}
                        <div class="btn-group btn-group-lg" role="group">
                            <button name="cleaned" type="button" title="The garbage has been cleaned" class="btn btn-round btn-success btn-cleaned btn-feature">
                                <span name="cleaned" class="fa fa-check"></span>
                            </button>
                        </div>
                    {% } %}

                    {% if (o.amount) { %}
                        <div class="btn-group btn-group-lg" role="group">
                            <button name="confirm" type="button" title="Confirm there is garbage here" class="btn btn-round btn-info btn-confirm-garbage btn-feature">
                                <span name="confirm" class="fa fa-eye"></span>
                            </button>
                            <span class="badge badge-notify badge-notify-confirm">{%=o.confirms%}</span>
                        </div>
                    {% } %}

                    {% if (o.datetime) { %}
                        <div class="btn-group btn-group-lg" role="group">
                            <button name="attend" type="button" title="Say you will help" class="btn btn-round btn-info btn-attend-cleaning btn-feature">
                                <span name="attend" class="fa fa-users"></span>
                            </button><span class="badge badge-notify badge-notify-attend">{%=o.attends%}</span>
                        </div>
                    {% } %}

                    {% if (o.contact) { %}
                        <div class="btn-group btn-group-lg" role="group">
                            <button name="join" type="button" title="Join game" class="btn btn-round btn-info btn-join-game modal-link btn-feature" btn-feature>
                                <span name="join" class="fa fa-play"></span>
                            </button><span class="badge badge-notify badge-notify-join">{%=o.participants%}</span>
                        </div>
                    {% } %}

                    <div class="btn-group btn-group-lg" role="group">
                        <button type="button" title="Share this" class="btn btn-round btn-default btn-social" data-toggle="popover" data-placement="top">
                            <span class="fa fa-share-alt"></span>
                        </button>
                    </div>

                </div>
                <div class="hidden" id="social-links"></div>
        </div>

        <div class="card card-scroll card-data col-xl-3 col-lg-3 col-md-3 col-ms-3 col-sm-4 col-xs-6">
        <div><h3>Data</h3></div>
        <div class="feature-data-card">
        {% if (o.types) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">type:</span>
        <span class="feature-info feature-info-garbage feature-info-litter feature-info-garbage-type pull-left">{%=o.types%}</span>
        </div>
        </div>
        {% } %}
        {% if (o.amount) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">amount:</span>
        <span class="feature-info feature-info-garbage feature-info-litter feature-info-garbage-amount pull-left">{%=o.amount%}</span>
        </div>
        </div>
        {% } %}
        {% if (o.size) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">sizes:</span>
        <span class="feature-info feature-info-garbage feature-info-litter feature-info-garbage-size pull-left">{%=o.size%}</span>
        </div>
        </div>
        {% } %}
        {% if (o.embed) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">in:</span>
        <span class="feature-info feature-info-garbage feature-info-litter feature-info-garbage-embed pull-left">{%=o.embed%}</span>
        </div>
        </div>
        {% } %}
        {% if (o.physical_length) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">length:</span>
        <span class="feature-info feature-info-garbage feature-info-litter feature-info-litter-length pull-left">{%=o.physical_length%}</span>
        </div>
        </div>
        {% } %}
        {% if (o.todo) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">todo:</span>
        <span class="feature-info-garbage feature-info feature-info-todo pull-left">{%=o.todo%}</span>
        </div>
        </div>
        {% } %}
        {% if (o.ext_link) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">link:<a href="{%=o.ext_link%}" target="_blank"> Event</a></span>
        <span class="feature-info feature-info-common feature-info-note pull-left"></span>
        </div>
        </div>
        {% } %}
        {% if (o.tags) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">tags:</span>
        <span class="feature-info feature-info-common feature-info-tags pull-left">
        {% for (var i=0; i<o.tags.length; i++) { %}
        <span class="label label-default">{%=o.tags[i]%}</span>
        {% } %}
        </span>
        </div>
        </div>
        {% } %}
        {% if (o.datetime) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">time:</span>
        <span class="feature-info feature-info-cleaning feature-info-time pull-left">{%=o.datetime%}</span>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">recurrence:</span>
        <span class="feature-info feature-info-cleaning feature-info-recurrence pull-left">{%=o.recurrence%}</span>
        </div>
        </div>
        {% } %}
        {% if (o.datetime) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">location:</span>
        <span class="feature-info feature-info-cleaning feature-info-location pull-left"></span>
        </div>
        </div>
        {% } %}
        {% if (o.title) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">name:</span>
        <span class="feature-info feature-info-area feature-info-name pull-left">{%=o.title%}</span>
        </div>
        </div>
        {% } %}
        {% if (o.contact) { %}
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">contact:</span>
        <span class="feature-info feature-info-area feature-info-contact pull-left">{%=o.contact%}</span>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">players:</span>
        <span class="feature-info feature-info-area feature-info-players pull-left">{%=o.players%}</span>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-body">
        <span class="pull-left">results:<a href="{%=o.results_link%}" class="game-results-modal-link" data-toggle="modal" data-target="#game-results-modal"> click here to view<a/></span>
        <span class="feature-info feature-info-area feature-info-results pull-left"></span>
        </div>
        </div>
        {% } %}
        </div>
        </div>

        {% if (o.image_url) { %}
            <div class="card card-scroll card-media col-xl-2 col-lg-2 col-md-3 col-ms-3 col-sm-4 col-xs-6">
                <div><h3>Media</h3></div>
                <a class="feature-image-link" href="{%#o.image_url%}" target="_blank"><img src="{%#o.image_url%}" alt="feature image" class="feature-image center-block"></a>
            </div>
        {% } %}

        <div class="card card-scroll card-track col-xl-3 col-lg-3 col-md-3 col-ms-3 col-sm-4 col-xs-6">

            <div><h3>Track changes</h3></div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="pull-left">creation date:</span>
                    <span class="feature-info feature-info-created-at pull-left">{%=o.created_at %}</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="pull-left">feature id:</span>
                    <span class="feature-info feature-info-id pull-left">{%=o.id %}</span>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="pull-left">created by:</span>
                    <span class="feature-info feature-info-created-by pull-left">{%=o.created_by %}</span>
                </div>
            </div>

            {% if (o.modifided_by) { %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="pull-left">modified by:</span>
                        <span class="feature-info feature-info-modified-by pull-left">{%=o.modifided_by %}</span>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="pull-left">modified at:</span>
                        <span class="feature-info feature-info-modified-at pull-left">{%=o.modifided_at %}</span>
                    </div>
                </div>
            {% } %}

            {% if (o.cleaned_by) { %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="pull-left">modified by:</span>
                        <span class="feature-info feature-info-cleaned-by pull-left">{%=o.cleaned_by %}</span>
                    </div>
                </div>
            {% } %}

            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="pull-left"><a class="feature-info-report" href="#">Report</a></span>
                </div>
            </div>
        </div>

        {% if (o.date) { %}
            <div class="card card-minimap col-xl-3 col-lg-3 col-md-3 col-ms-3 col-sm-4 col-xs-6">
                <div><h3>Access minimap</h3></div>
                <div id ="minimap" class="cleaning-minimap-card"></div>
            </div>
        {% } %}
    </div>
</script>
