<script type="text/x-tmpl" id="tmpl-garbage-main">
    <div class="sidebar-content" id="create-garbage-dialog">
  <div>
      <h3>
          <span>
              <a class="menu-backlink fa fa-fw fa-chevron-circle-left pull-left hidden-xs" href="#create-marker-dialog"></a>
          </span> Mark garbage
      </h3>
  </div>
  <form class="form-feature form-garbage" accept-charset="UTF-8" data-toggle="validator">

    <div class="tab-view">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a class="tab-default" href="#garbage-main" data-toggle="tab"><span class="fa fa-fw fa-map-marker"></span></a></li>
        <li><a href="#garbage-quantitative" data-toggle="tab"><span class="fa fa-fw fa-bar-chart-o"></span></a></li>
        <li><a href="#garbage-info" data-toggle="tab"><span class="fa fa-fw fa-question"></span></a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active form-group form-group-lg" id="garbage-main" role="tabpanel">

          <br>

          <input type="hidden" class="marker-latlng garbage-latlng">

          <div class="form-group">
            <p class="lead">Amount of garbage</p>              
            <div class="btn-group btn-group-justified btn-group-amount btn-group-amount-garbage" data-toggle="buttons">
              <label class="btn btn-lg btn-limegreen"><input type="radio" autocomplete="off" name="1">1</label>
              <label class="btn btn-lg btn-yellow" ><input type="radio" autocomplete="off" name="2">2</label>
              <label class="btn btn-lg btn-orangered active" ><input type="radio" autocomplete="off" name="3">3</label>
              <label class="btn btn-lg btn-red" ><input type="radio" autocomplete="off" name="4">4</label>
              <label class="btn btn-lg btn-violet" ><input type="radio" autocomplete="off" name="5">5</label>
            </div>
        </div>

        <div class="dropdown form-group">
            <select class="selectpicker garbage-type-select form-control"
                    id="garbage-select"
                    title="What kind?"
                    data-selected-text-format="count"
                    data-width="100%"
                    data-live-search="true"
                    data-max-options="20"
                    data-actions-box="true"
                    required
                    multiple>
                        {% include('tmpl-form-garbage-type', o.garbagetypes); %}
                    </select>
        <div class="help-block with-errors"></div>
        </div>

        <div class="dropdown">
            <select class="selectpicker form-control garbage-todo-select"
                    title="What to do here?"
                    data-width="100%"
                    required>
                <option value="" disabled="disabled"></option>
                <option value="1">It's been cleaned up already</option>
                <option value="2">I need help to clean it up</option>
                <option value="3">Need to pick up bags</option>
                <option value="4">Organize a cleaning</option>
                <option value="5">Tell local authorities</option>
            </select>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group form-group-lg">

          <div class="row">
              <div class="input-lg col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <input class="form-control feature-tags garbage-tags"
                     type="text"
                     placeholder="Add tags (max 3)"/>
              </div>
          </div>

        </div>

        </div><!-- main garbage pane -->

        <div class="tab-pane form-group form-group-lg" id="garbage-quantitative" role="tabpanel">

        <br>

          <div class="dropdown form-group">
              <select class="selectpicker form-control garbage-size-select"
                      title="What size?"
                      data-selected-text-format="count"
                      data-width="100%"
                      multiple >
                  <option value="1">Too big to carry alone</option>
                  <option value="2">Large pieces</option>
                  <option value="3">Easily visible</option>
                  <option value="4">Small enough to escape the eye</option>
                  <option value="5">Too small to pick up by hand</option>
                  <option value="6">Can't see it</option>
              </select>
          </div>


          <div class="dropdown form-group">
              <select class="selectpicker form-control garbage-embed-select"
                      title="Where is it?"
                      data-selected-text-format="count"
                      data-width="100%"
                      multiple >
                  <option value="1">Vegetation</option>
                  <option value="2">Water</option>
                  <option value="3">Stones, rocks</option>
                  <option value="4">Sand, gravel</option>
                  <option value="5">Soil, sediment</option>
                  <option value="6">Ice, snow</option>
              </select>
          </div>


          <div class="form-group-lg form-group" style="width:100%">
            <textarea class="form-control garbage-note"
                      rows="3"
                      name="garbage-note-name"
                      placeholder="Add a note about this marker"
                      data-maxlength="140"
                      data-minlength="10"
                      data-pattern="^[a-zA-Z\d\-_.,?!\s]+$"></textarea>
            <div class="help-block with-errors"></div>
          </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <!-- Uploader part need to follow the following strict format -->
                <span class="input-group-btn">
                    <button class="btn btn-default btn-image-uploader" type="button">
                    <span class="fa fa-fw fa-file-image-o"></span></button>
                    <input class="image-uploader" name="image" type="file" style="display:none;">
                </span>

               <input type="text" class="form-control garbage-image-hidden-value" placeholder="Upload an image">
          </div>

          <div class="progress hidden">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:%"></div>
          </div>

        </div>

        </div>

        <div class="tab-pane form-group form-group-lg" id="garbage-info" role="tabpanel">
        <br>
          <p class="lead"> Anybody can anonymously mark trash on the map. Markers can only be placed between zoom level 10 and 20 (<a href="#" onclick="map.setZoom(15)">zoom to level 10 now</a>). When choosing the amount of garbage on the scale of 1 to 5, think of 1 as 'a little' and 5 as a dumpster.</p>
        </div>
      </div>
    </div>

    <!-- Create the marker -->
    <div>
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group btn-group-lg" role="group">
            <button type="submit"
                    class="btn btn-success btn-save">
            <span class="fa fa-fw fa-check"></span><span class="hidden-xs">Save</span>
            </button>
        </div>
        <div class="btn-group btn-group-lg" role="group">
            <button type="button"
                    class="btn btn-danger btn-cancel">
            <span class="fa  fa-fw fa-times"></span><span class="hidden-xs">Cancel</span>
            </button>
        </div>
    </div>
  </div>
</form>

</div>
</script>