<script type="text/x-tmpl" id="tmpl-form-menu">

<div class="sidebarr-content" id="createe-marker-dialog">
    <h2 class="actions-panel hidden-sm hidden-xs">Action for this location</h2>
    <ul class="nav nav-pills nav-stacked">

      <li role="presentation"><a class="sidebar-link" href="/#/form/garbage/{%=o.id%}" data-navigo>Mark garbage</a></li>
      <li role="presentation"><a class="sidebar-link" href="/#/form/cleaning/{%=o.id%}" data-navigo>Create a cleaning event</a></li>
      <li role="presentation"><a class="sidebar-link hidden-xs" href="/#/form/litter/{%=o.id%}" data-navigo>Add a littered segment</a></li>
      <li role="presentation"><a class="sidebar-link hidden-xs" href="/#/form/area/{%=o.id%}" data-navigo>Create an area</a></li>
      <li role="presentation"><a class="sidebar-link" href="/#/form/link/{%=o.id%}" data-navigo>Fetch data from a webpage</a></li>
      <li role="presentation" class="disabled"><a class="sidebar-link" href="/#/form/float/{%=o.id%}" data-navigo>Mark floating garbage</a></li>
      <li role="presentation" class="disabled"><a class="sidebar-link" href="/#/form/sewage/{%=o.id%}" data-navigo>Mark sewage discharge</a></li>
      <li role="presentation" class="disabled"><a class="sidebar-link" href="/#/form/dieoff/{%=o.id%}" data-navigo>Locate mass die off</a></li>

    </ul>
</div>

</script>
