<script type="text/x-tmpl" id="tmpl-form-cleaning">

<form class="form-feature form-cleaning " data-toggle="validator">

<h3>Add a cleaning event</h3>

  <div class="tab-view">
    
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a data-target="#cleaning-main-tab" data-toggle="tab" class="tab-default"><span class="fa fa-fw fa-calendar-o"></span></a></li>
      <li               ><a data-target="#cleaning-info-tab" data-toggle="tab"                    ><span class="fa fa-fw fa-question"></span></a></li>
    </ul>

      <div class="tab-content">

        <br>

        <div class="tab-pane active form-group form-group-lg" id="cleaning-main-tab" role="tabpanel">

          <input type="hidden" name="latlng" class="marker-latlng cleaning-latlng">

          <div class="container" style="width:100%">
            <div class="row">
                <div class="form-group">
                    <div class="input-group" id="event-date-time-picker" style="width:100%">
                        <input type="datetime"
                               id="event-date-time-input"
                               class="form-control"
                               placeholder="Starting date"
                               name="datetime"
                               required>
                    </div>
                </div>
            </div>
          </div>

          <div class="dropdown">
              <select class="selectpicker form-control cleaning-recurrent-select"
                      title="Set event recurrence"
                      data-width="100%"
                      name="recurrence"
                      width="fit"
                      mobile="true"
                      required>
                  <option value="" disabled="disabled"></option>
                  <option value="none">None</option>
                  <option value="daily">Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
              </select>
              <div class="help-block with-errors"></div>
          </div>

          <div class="form-group form-group-lg" style="width:100%">
            <textarea class="cleaning-note form-control"
                      rows="3"
                      name="note"
                      placeholder="Add an external link for this event"
                      data-maxlength="140"
                      data-pattern="^[a-zA-Z\d\-_.,?!\|\/:@\s]+$"></textarea>
              <div class="help-block with-errors"></div>
          </div>

          <div class="row">
              <div class="input-lg col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <input class="form-control feature-tags cleaning-tags"
                     type="text"
                     name="tags"
                     placeholder="Add tags (max 3)"/>
              </div>
          </div>
        </div>

        <div class="tab-pane form-group form-group-lg" id="cleaning-info-tab" role="tabpanel">
          <p class="lead">A marker for a cleaning event is meant for a location where trash has already been identified. Facebook users can choose whether to create a Facebook event simultaneously. <a class="sidebar-link" href="#user-login-dialog">Login</a> or <a class="sidebar-link" href="#create-account-dialog" >register</a> with an email to create an event.</p>
        </div>
      </div>

  </div>

  <div>
      <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group btn-group-lg" role="group">
              <button type="submit"
                      class="btn btn-success btn-save btn-save-cleaning">
                  <span class="fa fa-fw fa-check"></span><span class="hidden-xs">Save</span>
              </button>
          </div>
          <div class="btn-group btn-group-lg" role="group">
              <button type="button"
                      title="Cancel"
                      class="btn btn-danger btn-cancel">
                  <span class="fa  fa-fw fa-times"></span><span class="hidden-xs">Cancel</span>
              </button>
          </div>
          <!-- see https://developers.facebook.com/docs/graph-api/reference/event -->
      </div>
  </div><!-- Create the marker -->
</form>

</script>
