.leaflet-control-bar{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2100;
}

/** BOTTOM **/
.leaflet-control-bar-bottom.leaflet-control-bar {
    height: 300px;
    width: 100%;
    bottom: -300px;
    transition: bottom 0.5s;
}
.leaflet-control-bar-bottom.leaflet-control-bar.visible {
    bottom: 0;
}
.leaflet-control-bar-bottom.leaflet-control-bar.visible ~ .leaflet-bottom {
    bottom: 300px;
    transition: bottom 0.5s;
}
.leaflet-control-bar-bottom.leaflet-control-bar ~ .leaflet-bottom {
    transition: bottom 0.5s;
}

/** SHARED **/
.leaflet-control-bar > .leaflet-control {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255,255,255,1);
    margin: 0px;
    padding: 0px;
}
.leaflet-touch .leaflet-control-bar > .leaflet-control {
    box-shadow: none;
    background-clip: padding-box;
}
