/* Style the tour */
.popover {
  background: rgba(86,86,86,0.9);
  border-color: rgba(86,86,86,0.9);
}

.popover.right .arrow:after {
 border-right-color: rgba(86,86,86,0.8);
}

.popover.left .arrow:after {
 border-left-color: rgba(86,86,86,0.8);
}
