@font-face {
	font-family: 'trashbag';
	src:url('fonts/trashbag.eot?jvr8q7');
	src:url('fonts/trashbag.eot?#iefixjvr8q7') format('embedded-opentype'),
		url('fonts/trashbag.ttf?jvr8q7') format('truetype'),
		url('fonts/trashbag.woff?jvr8q7') format('woff'),
		url('fonts/trashbag.svg?jvr8q7#trashbag') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'trashbag';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-trashbag:before {
	content: "\e600";
}
