/* Coolors Exported Palette - coolors.co/dce0d9-150021-c11b2e-4b95bc-4db5b1 */

/* HSL */
$white: hsla(94%, 10%, 86%, 1);      /* Gainsboro marble white */
$dark: hsla(278%, 100%, 6%, 1);      /* Eerie black dark purple */
$danger: hsla(353%, 75%, 43%, 1);    /* Cardinal red */
$info: hsla(201%, 46%, 52%, 1);      /* Celestial blue */
$success: hsla(178%, 41%, 51%, 1);   /* Verdigris green */

/* RGB */
$white: rgba(220, 224, 217, 1);
$dark: rgba(21, 0, 33, 1);
$danger: rgba(193, 27, 46, 1);
$info: rgba(75, 149, 188, 1);
$success: rgba(77, 181, 177, 1);

