/** author: Tobias Bieniek (Turbo87)
// https://github.com/Turbo87/leaflet-sidebar/
// modified by: adriennn jan-2016
// License: MIT 
// version 0.19a **/

.leaflet-sidebar {
    position: absolute;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    z-index: 500; 
}

.leaflet-sidebar.bottom {
    bottom: -400px;
            transition: bottom 0.5s, height 0.5s;
    -webkit-transition: bottom 0.5s, height 0.5s;
       -moz-transition: bottom 0.5s, height 0.5s;
         -o-transition: bottom 0.5s, height 0.5s;
    padding-bottom: 0; 
/*overflow: hidden */
}

.leaflet-sidebar.bottom.visible {
    bottom: 0; 
}

.leaflet-sidebar.right {
    right: -500px;
            transition: right 0.5s, width 0.5s;
    -webkit-transition: right 0.5s, width 0.5s;
       -moz-transition: right 0.5s, width 0.5s;
         -o-transition: right 0.5s, width 0.5s;
    padding-left: 0; 
}

.leaflet-sidebar.right.visible {
    right: 0; 
}

.leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px 20px;
    font-size: 1.1em;
    background: white;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5 ) !important;
   -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5) !important;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5) !important;  
}

.leaflet-touch .leaflet-sidebar > .leaflet-control {
    border: none;
    background-clip: padding-box; 
}

  @media (max-width: 567px){
    
    .leaflet-sidebar > .leaflet-control {

        padding: 4px 5px;
        -webkit-box-shadow: -40px 0px 40px 0px rgba(112,112,112,0.3 ) !important;
           -moz-box-shadow: -40px 0px 40px 0px rgba(112,112,112,0.3) !important;
                box-shadow: -40px 0px 40px 0px rgba(112,112,112,0.3) !important;  
        
    }
    
    .leaflet-sidebar > .leaflet-control::-webkit-scrollbar {  
        display: none; 
    }
    
    .leaflet-sidebar.right {
        width: 90%;
        padding: 0;
        right: -110%; 
      }
    
    .leaflet-sidebar.bottom {
        width: 100%;
        height: 50%;
        padding: 0;
        bottom: -70%; 
      }
    
      .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 0%; 
      }
      
      .leaflet-sidebar.bottom.visible ~ .leaflet-left {
        bottom: 50%; 
      }
      
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 100%; 
      }
      
        .leaflet-sidebar.bottom.visible {
          bottom: 0; 
      }
      
        .leaflet-sidebar.right.visible {
          right: 0; 
      }
      
      .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0; }
        .leaflet-touch .leaflet-sidebar > .leaflet-control {
          border: 0; } 
}

  @media (min-width: 568px) and (max-width: 767px) {
    
    .leaflet-sidebar > .leaflet-control {
      padding: 4px 5px;
      font-size: 1em;
    }
    
    
    .leaflet-sidebar {
      width: 305px; 
      }
    
    .leaflet-sidebar.bottom {
      width: 100%;
      height: 50%; 
    }
    
    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 305px; 
    }
    .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 50%; 
    }

      @media (max-height: 960px) {
        .leaflet-sidebar.bottom {
            width: 100%;
            height: 300px; 
        }
          
         .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
            bottom: 300px; 
         }
      }  
}


  @media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar {
      width: 305px; 
      }
    
    .leaflet-sidebar.bottom {
      width: 100%;
      height: 300px; 
      }

      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 305px; }
       .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 300px; } 
}

  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar.right {
      width: 390px; }
    
    .leaflet-sidebar.bottom {
      width: 100%; 
      height: 300px; }
    
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 390px; }
    
      .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 300px; } 
}

  @media (min-width: 1200px) {
    .leaflet-sidebar.right {
      width: 460px; }
    
    .leaflet-sidebar.bottom {
      height: 300px; 
      width: 100%; }
    
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 460px; }
    
      .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 300px; } 
}

/* Style the close buttons */
.close-panel {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 44, 8, 0.6);
}

.close-panel:hover, .close-panel:active {
    background-color: rgba(255, 44, 8, 1);
}

.close-panel a {
    text-decoration: none;
    color: #FFF;
}

.close-right {
    z-index: 10;
    left: -30px;
    top: 35px;
    width: 30px;
    height: 45px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.close-right > a {
  height:45px;
  line-height:45px;
}

.close-bottom {
    position: absolute;
    z-index: 10;
    right: 35px;
    top: -30px;
    width: 45px;
    height: 30px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.close-bottom > a {
    top: 10px;
    width: 45px;
}

@media (max-width: 568px) {
    
    .close-right {
        top: 75%
    }
    
}

.leaflet-bottom {
          transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
     -moz-transition: bottom 0.5s;
       -o-transition: bottom 0.5s;
}

.leaflet-sidebar.bottom.visible ~ .leaflet-bottom.leaflet-right {
    bottom: 0px; 
} 

.leaflet-sidebar.right.visible ~ .leaflet-bottom.leaflet-right {
    right: 0px; 
} 