/** author: Tobias Bieniek (Turbo87)
// https://github.com/Turbo87/leaflet-sidebar/
// modified by: adriennn jan-2016
// License: MIT 
// version 0.19a **/

.leaflet-sidebar {
  position: absolute;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  z-index: 500; }
  .leaflet-sidebar.bottom {
    bottom: -400px;
            transition: bottom 0.5s, height 0.5s;
    -webkit-transition: bottom 0.5s, height 0.5s;
       -moz-transition: bottom 0.5s, height 0.5s;
         -o-transition: bottom 0.5s, height 0.5s;
    padding-bottom: 0; }
    .leaflet-sidebar.bottom.visible {
      bottom: 0; }
  .leaflet-sidebar.right {
    right: -500px;
            transition: right 0.5s, width 0.5s;
    -webkit-transition: right 0.5s, width 0.5s;
       -moz-transition: right 0.5s, width 0.5s;
         -o-transition: right 0.5s, width 0.5s;
    padding-left: 0; }
    .leaflet-sidebar.right.visible {
      right: 0; }
  .leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px 20px;
    font-size: 1.1em;
    background: white;
    -webkit-border-radius: 0px;
    border-radius: 0px; }
    .leaflet-touch .leaflet-sidebar > .leaflet-control {
      box-shadow: none;
      border: 0px solid rgba(0, 0, 0, 0);
      background-clip: padding-box; }


  @media (max-width: 567px){
    
    .leaflet-sidebar > .leaflet-control {
      /* needed to scroll in chrome with hidden scrollbars */
      overflow-y: auto; 
      padding: 4px 5px;
    }
    
    .leaflet-sidebar > .leaflet-control::-webkit-scrollbar {  
      display: none; 
    }
    
    .leaflet-sidebar.right {
      width: 100%;
      padding: 0; }
    
    .leaflet-sidebar.bottom {
      width: 100%;
      height: 50%;
      padding: 0; }
    
      .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 0%; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 100%; }
      .leaflet-sidebar.bottom {
        bottom: -50%; }
        .leaflet-sidebar.bottom.visible {
          bottom: 0; }
      .leaflet-sidebar.right {
        right: -100%; }
        .leaflet-sidebar.right.visible {
          right: 0; }
      .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0; }
        .leaflet-touch .leaflet-sidebar > .leaflet-control {
          border: 0; } }

  @media (min-width: 568px) and (max-width: 767px) {
    
    .leaflet-sidebar > .leaflet-control {
      /* needed to scroll in chrome with hidden scrollbars */
      overflow-y: auto; 
      padding: 4px 5px;
      font-size: 1em;
    }
    
    
    .leaflet-sidebar {
      width: 305px; }
    
    .leaflet-sidebar.bottom {
      width: 100%;
      height: 50%; 
      bottom: -50%;
    }
    
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 305px; }
       .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 50%; } }


  @media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar {
      width: 305px; }
    
    .leaflet-sidebar.bottom {
      width: 100%;
      height: 300px; }

      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 305px; }
       .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 300px; } }

  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar.right {
      width: 390px; }
    
    .leaflet-sidebar.bottom {
      width: 100%; 
      height: 300px; }
    
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 390px; }
    
      .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 300px; } }

  @media (min-width: 1200px) {
    .leaflet-sidebar.right {
      width: 460px; }
    
    .leaflet-sidebar.bottom {
      height: 300px; 
      width: 100%; }
    
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 460px; }
    
      .leaflet-sidebar.bottom.visible ~ .leaflet-bottom {
        bottom: 300px; } }

.leaflet-sidebar .close {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 32px;
  height: 32px;
  color: #333;
  font-size: 25pt;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  z-index: 10; }

.bottom .close {
	right: 10px;
    top: 10px !important;
}

.leaflet-top {
          transition: right 0.5s;
  -webkit-transition: right 0.5s;
     -moz-transition: right 0.5s;
       -o-transition: right 0.5s;
}

.leaflet-bottom {
          transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
     -moz-transition: bottom 0.5s;
       -o-transition: bottom 0.5s;
}
