html {
    height: 100%
}

body {
  overflow: hidden;
  height: 100%;
}

.map-container {
    bottom:0;
    z-index: auto;
    position:absolute;
    top:50px;
    width:100%;
}

/* smallest mobile screen height is 567px default 768px */
@media (max-width: 768px) {

  .map-container {
    top:0px;
  }

/* Swipe area sizing and placement */
  .swipe-area {
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(255,255,255,0.0);
    z-index: 1;
  }
  
  .swipe-area-right {
    width: 20px;
    right: 0;
    height: 100%;
    z-index: 1;
  }
  
  .swipe-area-left {
    width: 40px;
    left: 0;
    height: 100%;
    z-index: 5000;
  }
  
  .swipe-area-top {
    width: 100%;
    top: 0;
    height: 30px;
    z-index: 5000;
  }

}

.alert-container .alert {
   position: absolute;
   z-index: 5000;
   top: 0px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

/* Icons color shortcuts */
.fa-icon-green {
  color: limegreen;
}
.fa-icon-red {
  color: orangered;
}
.fa-icon-blue {
  color: dodgerblue;
}
.fa-icon-yellow {
  color: yellow;
}
.fa-icon-black {
  color: black;
}
.fa-icon-white {
  color: white;
}
.fa-icon-gray {
  color: lightgray;
}
.fa-icon-darkgray {
  color: #464646;
}
.fa-icon-seagreen {
  color: mediumseagreen;
}
.fa-icon-orange {
  color: orange;
}

.fa-icon-centered {
  margin-left: -3px;
}

.fa-icon-control-centered {
  margin-left: -2px;
  margin-top: -2px;
}

.btn-facebook {
  background-color: rgba( 59, 89, 152, 1) !important;
  border-color: rgba( 59, 89, 152, 1) !important;
  color: #FFF;
}

.btn-vk {
  background-color: rgba( 69, 102, 142, 1) !important;
  border-color: rgba( 69, 102, 142, 1) !important;
  color: #FFF;
}

.btn-google-plus {
  background-color: rgba(221, 75, 57, 1) !important;
  border-color: rgba(221, 75, 57, 1) !important;
  color: #FFF;
}

.btn-twitter {
  background-color: rgba(0, 172, 237, 1) !important;
  border-color: rgba(0, 172, 237, 1) !important;
  color: #FFF;
}

.btn-tumblr {
  background-color: rgba(18, 86, 136, 1) !important;
  border-color: rgba(18, 86, 136, 1) !important;
  color: #FFF;
}

.btn-reddit {
  background-color: rgba(128, 128, 128, 1) !important;
  border-color: rgba(128, 128, 128, 1) !important;
  color: #FFF;
}

.btn-whatsapp {
  background-color: rgba(67, 216, 84, 1) !important;
  border-color: rgba(67, 216, 84, 1) !important;
  color: #FFF;
}

.btn-facebook span, .btn-twitter span, .btn-tumblr span, .btn-reddit span, .btn-google-plus span, btn-whatsapp span, btn-vk span {
  vertical-align: bottom;
  color: #FFF;
}

.btn-facebook:hover, .btn-facebook:active, .btn-facebook:visited {
  background-color: rgba( 59, 89, 152, 0.8) !important;
  color: #FFF;
}

.btn-vk:hover, .btn-vk:active, .btn-vk:visited {
  background-color: rgba( 69, 102, 142, 0.8) !important;
  color: #FFF;
}

.btn-google-plus:hover, .btn-google-plus:active, .btn-google-plus:visited {
  background-color: rgba(221, 75, 57, 0.8) !important;
  color: #FFF;
}

.btn-twitter:hover, .btn-twitter:active, .btn-twitter:visited {
  background-color: rgba(0, 172, 237, 0.8) !important;
  color: #FFF;
}

.btn-tumblr:hover, .btn-tumblr:active, .btn-tumblr:visited {
  background-color: rgba(18, 86, 136, 0.8) !important;
  color: #FFF;
}

.btn-reddit:hover, .btn-reddit:active, .btn-reddit:visited  {
  background-color: rgba(128, 128, 128, 0.8) !important;
  border-color: rgba(128, 128, 128, 1) !important;
  color: #FFF;
}

.btn-whatsapp:hover, .btn-whatsapp:active, .btn-whatsapp:visited  {
  background-color: rgba(167 ,216, 84, 0.8) !important;
  border-color: rgba(67, 216, 84, 1) !important;
  color: #FFF;
}

/*Style the garbage amount form buttons*/
.btn-limegreen {    
    background-color: #ccff66;
    border-color: #ccff66;
    color: #FFF;
}
.btn-yellow {
    background-color: #ffff00;
    border-color: #ffff00;
    color: #FFF;
}
.btn-orangered { 
    background-color: #ff6600;
    border-color: #ff6600;
    color: #FFF;
}
.btn-red {
    background-color: #ff1a1a;
    border-color: #ff1a1a;
    color: #FFF;
}
.btn-violet {
    background-color: #e60073;
    border-color: #e60073;
    color: #FFF;
}

.btn-limegreen:active, .btn-yellow:active, .btn-orangered:active, .btn-red:active, .btn-violet:active {
    border-color: dimgray !important;
    color: dimgray !important;
}

/* hide all the panel content by default */
.sidebar-content, .bottombar-content {
  display: none;
}

.card div.panel.panel-default {
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  border: 0 !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0);
}
.card .panel .panel-body {
  padding: 2px !important;
}

.card-actions {
  margin-top: 20px !important;
}

/* Media rules for cards height 
* This is a hack, change this
* when moving to bootstrap v4
*/
@media (min-width: 768px)  {
   .card {
      height: 270px;
   }
}

/* Add badges */
.badge-notify{
  color: #FFF;
  background: #000;
  position: absolute;
  top: -5px;
  right: 5px;
}

/* Style the sidebar */
a.menu-backlink {
  color: lightgray;
  vertical-align: middle;
  text-decoration: none;
}

a.menu-backlink:hover {
  color: dimgrey;
  text-decoration: none;
}

.sidebar-container  {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Own modifications to leaflet.css*/
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.lealfet-bar,
.lealfet-control {
	border: 0px;
}
/* Style the search button */
.leaflet-control-search {
  	min-width: 40px;
	height: 40px;
	line-height: 40px;
    border-radius: 20px !important;
          box-shadow: none !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
}

.leaflet-control-search .fa-search {
  position: absolute;
  left: 7px;
}

/* Place the close button in the layers-control div on mobile */
.btn-close-layers-control {
    position: absolute;
    top: 70%;
    right: -45px;
    z-index: 1000;
    width: 35px;
    height: 45px;
    background-color: rgba(255, 44, 8, 0.8);
    opacity: 0.8;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px; 
}

.btn-close-layers-control:hover, .btn-close-layers-control:active {
    background-color: rgba(255, 44, 8, 1);
}

.btn-close-layers-control a {
    text-decoration: none;
    color: #FFF;
    height:45px;
    line-height:45px;
}

.leaflet-touch .leaflet-bar a, .leaflet-touch .leaflet-control-layers, :not(.leaflet-touch .leaflet-control-layers .leaflet-control-layers-expanded)  {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch leaflet-control-layers-toggle {
  border-bottom: 0px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 0px solid #ccc;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

.leaflet-control-layers,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    border-radius: 20px !important;
}

.leaflet-control-layers-expanded {
    border-radius: 0px !important;
}

/* Shift leaflet-bar control buttons */
.leaflet-top .leaflet-control {
	margin-top: 2px;
	}

.leaflet-bottom .leaflet-control {
	margin-bottom: 2px;
}

.leaflet-left .leaflet-control {
	margin-left: 0px;
}

.leaflet-right .leaflet-control {
	margin-right: 0px;
}

.leaflet-bar a:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.leaflet-bar, leaflet-bottom {
  z-index: 50;
}

.leaflet-control-layers {
          box-shadow: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
}

.leaflet-bar {
          box-shadow: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none;
}

.leaflet-sidebar.right > .leaflet-control {
          box-shadow: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none
}

/* Custom bootstrap styles */
/* Style forms */
.form-group {
  margin-bottom: 10px !important;
}

.input-lg { 
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.progress-bar {
    border-radius: 0;
}

/* Style the popovers */
.popover {
  border-radius: 0 !important;
  border: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.popover-navigation > a {
  position: absolute;
  bottom: 5px !important;
  right: 5px !important;
}

.popover-share {
  max-width: 100%;
  background-color: rgba(255,255,255,0);
  max-height: 55px; /* force horizontal display on mobile */
}

/* Style default buttons and link colors */
.btn-menu a, .btn-search, .nav-pills li a {
  color: #464646 !important;
}

.mobile-menu a {
    color: #464646 !important;
}

/*Style the navbar*/
.navbar-default {
  background-color: #FFF;
  border-color: transparent;
}

.navbar .navbar-form {
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

input {
 border-radius: 0 !important;
}
button {
 border-radius: 0 !important;
}
.from-control {
 border-radius: 0 !important;
}
.input-group-addon {
 border-radius: 0 !important;
}
textarea {
 border-radius: 0 !important;
}

h1, h2, h3, h4, span, .lead, p, input, textarea, select, button, .page-name, .navbar .nav-pills > li > a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200
}

.data-info-details p {
  color: dimgray;
}

/* Prevent topbar from resizing on tablets */
.navbar-header > .pull-right {
  max-height: 50px;
}

@media (max-width: 768px) {

  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    margin-bottom: 0 !important;
  }

  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff !important;
  }

}

textarea {
    resize: none;
}

.bootstrap-tagsinput input {
  line-height: 1.3333333 !important;
  height: 34px;
}

/* Style nav tabs links */
.nav > li.disabled > a {
  color:  #cccccc !important;
}

.nav-tabs > li > a {
  color: #cccccc !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active:hover > a {
  color: #555 !important;
}

.nav-tabs > li:hover > a {
  color: #FFF !important;
}

.bootstrap-tagsinput {
    width: 100% !important;
    border-radius: 0px !important;
}

.nav-tabs > li > a, .nav-pills a {
  border-radius: 0 !important;
}

 .nav-pills a {
  font-size: 1.5em;
  font-family: 'Work Sans', sans-serif;
}

/* Squarify bs3 buttons and alerts */
.btn {border-radius: 0;}
.btn-group>.btn:last-child,
.btn-group> btn:first-child {
  border-radius: 0;
  border-radius: 0;
}

.btn-round {
  width: 50px!important;
  height: 50px!important;
  border-radius: 25px !important;
  vertical-align: middle;
  padding-left: -5px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 15px;
-webkit-border-radius: 15px;
}

.alert {border-radius: 0;}

.tt-menu {background-color: #fff}

/* Leaflet Draw button behavior*/
.leaflet-draw-edit-edit, .leaflet-draw-edit-remove  {
  margin-right: -50px;
            transition: margin-right 0.5s;
    -webkit-transition: margin-right 0.5s;
       -moz-transition: margin-right 0.5s;
         -o-transition: margin-right 0.5s;
}

.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove {
  display: none !important;
}

.leaflet-draw-edit-edit.visible, .leaflet-draw-edit-remove.visible  {
  display:inherit !important;
  margin-right: 0px;
}
