/* Icon styling according to zoom */
.z6 .map-marker, 
.z5 .map-marker, 
.z4 .map-marker, 
.z3 .map-marker, 
.z2 .map-marker, 
.z1 .map-marker, 
.z0 .map-marker {display: none;}

.z7 .map-marker, 
.z8 .map-marker,
.z9 .map-marker, 
.z10 .map-marker {
  font-size:9px;
  width:14px !important;
  height:14px !important;
  padding-left: 0px;
  padding-bottom: 1px;
}
.z11 .map-marker, 
.z12 .map-marker, 
.z13 .map-marker {
  font-size:12px;
  width:20px !important;
  height:20px !important;
}
.z14 .map-marker {
  font-size:14px;
  width:24px !important;
  height:24px !important;
  padding-top: 1px;
}
.z15 .map-marker {
  font-size:20px;
  width:33px !important;
  height:33px !important;
  padding-top: 2px;
}
.z16 .map-marker {
  font-size:20px;
  width:36px !important;
  height:36px !important;
  padding-top: 3px;
}

.z17 .map-marker,
.z18 .map-marker {
  font-size:21px;
  width:38px !important;
  height:38px !important;
  padding-top: 4px;
  padding-left: 1px;
}

/* Styling trashbins icons */
.z0 .marker-nearby-trashbin,
.z1 .marker-nearby-trashbin,
.z2 .marker-nearby-trashbin,
.z3 .marker-nearby-trashbin, 
.z4 .marker-nearby-trashbin,
.z5 .marker-nearby-trashbin,
.z6 .marker-nearby-trashbin,
.z7 .marker-nearby-trashbin,
.z8 .marker-nearby-trashbin,
.z9 .marker-nearby-trashbin,
.z10 .marker-nearby-trashbin,
.z11 .marker-nearby-trashbin,
.z12 .marker-nearby-trashbin {display: none !important;}
