/*Custom CSS markers */
.map-marker:hover {
        filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.7));
-webkit-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.7));
     -o-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.7));
   -moz-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.7));
    -ms-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.7));
}

.map-marker{
 text-align: center;
 position: absolute;
 overflow: visible;
 background-repeat: no-repeat;
 background-position: center;
 color: #fff;
 border-radius: 50%;
 font-family: 'FontAwesome';
         filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
 -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
      -o-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    -moz-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
     -ms-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

/*Marker contents */
.map-marker.marker-generic:before{
 content: '\f128';
}
.map-marker.marker-garbage:before{
 font-family: 'trashbag';
 content: '\e600';
}
.map-marker.marker-cleaning:before{
 content: '\f133';
}
.map-marker.marker-dieoff:before{
 content: '\0e7';
}
.map-marker.marker-sewage:before{
 content: '\f043';
}
.map-marker.marker-floating:before{
 content: '\f21a';
}
.map-marker.marker-deflated:before{
 content: '\f24d';
}
.map-marker.marker-deflated{
         filter: drop-shadow(0 rgba(0,0,0,0));
 -webkit-filter: drop-shadow(0 rgba(0,0,0,0));
      -o-filter: drop-shadow(0 rgba(0,0,0,0));
}

/*Marker color for past events */
.map-marker.marker-cleaning-past {
  background-color: chartreuse;
  content: '\f274';
}

/* Marker colors */
.map-marker.marker-color-gray {background: lightgray;}
.map-marker.marker-color-blue {background: #33cccc;}
.map-marker.marker-floating {background-color: #FFF;}
.map-marker.marker-dieoff {background-color: #000;}
.map-marker.marker-sewage {background-color: #993300;}

/* Garbage amount scale 1-5 */
.map-marker.marker-color-limegreen {background-color: rgba(204, 255, 102, 0.9)/*#ccff66*/;}
.map-marker.marker-color-yellow {background-color: rgba(255, 255, 0, 0.9)/*#ffff00*/;}
.map-marker.marker-color-orangered {background-color: rgba(255, 102, 0, 09)/*#FF4500*/;}
.map-marker.marker-color-red {background-color: rgba(255, 26, 26, 0.9)/*#ff1a1a*/;}
.map-marker.marker-color-violet {background-color: rgba(230, 0, 115, 0.9)/*#e60073*/;}