/*Custom CSS markers */
.map-marker:hover {
        filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.7));
-webkit-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.7));
     -o-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.7));
   -moz-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.7));
    -ms-filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.7));
}

.map-marker {
 text-align: center;
 position: absolute;
 overflow: visible;
 background-repeat: no-repeat;
 background-position: center;
 color: #fff;
 border-radius: 50%;
 font-family: 'garbageplanet';
         filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
 -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
      -o-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    -moz-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
     -ms-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

/*Marker contents */
.map-marker.marker-generic:before{
 content: '\78';
}
.map-marker.marker-garbage:before{
 content: '\67';
}

.map-marker.marker-dieoff:before{
 content: '\0e7';
}
.map-marker.marker-sewage:before{
 content: '\f043';
}
.map-marker.marker-floating:before{
 content: '\f21a';
}
.map-marker.marker-link:before{
 content: '\f0c1';
}
.map-marker.marker-cleaned:before{
 content: '\f00c';
}
.map-marker.marker-cleaned{
 opacity: 0.5;
}
.map-marker.marker-deflated:before{
 content: '\f24d';
}
.map-marker.marker-deflated{
         filter: drop-shadow(0 rgba(0,0,0,0));
 -webkit-filter: drop-shadow(0 rgba(0,0,0,0));
      -o-filter: drop-shadow(0 rgba(0,0,0,0));
}

/* Marker color for cleaning events */
.map-marker.marker-cleaning:before{
 content: '\f133';
}
.map-marker.marker-cleaning-past:before{
  content: '\f274';
}

/* Marker colors */
.map-marker.marker-color-gray {background: lightgray;}
.map-marker.marker-color-blue {background: #33cccc;}
.map-marker.marker-floating {background-color: #FFF;}
.map-marker.marker-dieoff {background-color: #000;}
.map-marker.marker-sewage {background-color: #993300;}

/* Garbage amount scale 1-5 */
.map-marker.marker-color-limegreen {background-color: rgba(204, 255, 102, 0.9)/*#ccff66*/;}
.map-marker.marker-color-yellow {background-color: rgba(255, 197, 38, 0.9)/*#ffff00*/;}
.map-marker.marker-color-orangered {background-color: rgba(255, 102, 0, 09)/*#FF4500*/;}
.map-marker.marker-color-red {background-color: rgba(255, 26, 26, 0.9)/*#ff1a1a*/;}
.map-marker.marker-color-violet {background-color: rgba(230, 0, 115, 0.9)/*#e60073*/;}

/* Marker cluster code adapted from L.Markercluster default css
* https://github.com/Leaflet/Leaflet.markercluster
* License MIT
* Copyright 2012 David Leaver
*/

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-marker-cluster-tiny {
	background-color: rgba(204, 255, 102, 0.9);
	}

.leaflet-marker-cluster-small {
	background-color: rgba(255, 197, 38, 0.9);
	}

.leaflet-marker-cluster-medium {
	background-color: rgba(255, 102, 0, 0.9);
	}

.leaflet-marker-cluster-large {
	background-color: rgba(255, 26, 26, 0.9);
	}

.leaflet-marker-cluster-huge {
	background-color: rgba(230, 0, 115, 0.9);
	}

/* Color the text on top of the trashbags */
/*  tiny is green, small is yellow, medium is orangered, large is red, huge is purple */
.leaflet-marker-cluster-tiny .leaflet-marker-cluster-count {
	color: rgba(204, 255, 102, 0.9);
	}
.leaflet-marker-cluster-small .leaflet-marker-cluster-count {
	color: rgba(255, 197, 38, 0.9);
	}
.leaflet-marker-cluster-medium .leaflet-marker-cluster-count {
	color: rgba(255, 102, 0, 0.9);
	}
.leaflet-marker-cluster-large .leaflet-marker-cluster-count {
	color: rgba(255, 26, 26, 0.9);
	}
.leaflet-marker-cluster-huge .leaflet-marker-cluster-count {
	color: rgba(230, 0, 115, 0.9);
	}

.leaflet-marker-cluster {
    border-radius: 50%;
    text-align: center;
    display: block;
         filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
 -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
      -o-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    -moz-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
     -ms-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
	}


.leaflet-marker-cluster-icon {
    color: #FFF;
    display: block;
    font-size: 25px;
    font-style: normal;
    left: 0;
    position: absolute;
    width: 40px;
    z-index: 100;
}

.leaflet-marker-cluster-icon-garbage:before {
    content: '\67';
    font-family: 'garbageplanet';
}

.leaflet-marker-cluster-icon-cleaning:before {
    content: '\f133';
    font-family: 'garbageplanet';
}

.leaflet-marker-cluster-cleaning {
    background-color: #33cccc;
}

.leaflet-marker-cluster-count {
    display: block;
    font-weight: bolder;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
    left: 0;
    line-height: 45px;
    position: absolute;
    text-align: center;
    width: 40px;
    z-index: 200;
}

.leaflet-marker-cluster-count-garbage {
    margin-left: 0;
}

.leaflet-marker-cluster-count-cleaning {
    margin-left: 0;
    color: #FFF;
}

/* Icon styling and sizing according to zoom */
.z6 .map-marker,
.z5 .map-marker,
.z4 .map-marker,
.z3 .map-marker,
.z2 .map-marker,
.z1 .map-marker,
.z0 .map-marker {display: none;}

.z7 .map-marker,
.z8 .map-marker,
.z9 .map-marker,
.z10 .map-marker {
  font-size:9px;
  width:14px !important;
  height:14px !important;
  padding-left: 0px;
  padding-bottom: 1px;
}
.z11 .map-marker,
.z12 .map-marker,
.z13 .map-marker {
  font-size:12px;
  width:20px !important;
  height:20px !important;
}
.z14 .map-marker {
  font-size:14px;
  width:24px !important;
  height:24px !important;
  padding-top: 1px;
}
.z15 .map-marker {
  font-size:20px;
  width:33px !important;
  height:33px !important;
  padding-top: 2px;
}
.z16 .map-marker {
  font-size:20px;
  width:36px !important;
  height:36px !important;
  padding-top: 3px;
}

.z17 .map-marker,
.z18 .map-marker,
.z19 .map-marker,
.z20 .map-marker{
  font-size:21px;
  width:38px !important;
  height:38px !important;
  padding-top: 4px;
  padding-left: 1px;
}

/* Styling trashbins icons */
.z0 .marker-nearby-trashbin,
.z1 .marker-nearby-trashbin,
.z2 .marker-nearby-trashbin,
.z3 .marker-nearby-trashbin,
.z4 .marker-nearby-trashbin,
.z5 .marker-nearby-trashbin,
.z6 .marker-nearby-trashbin,
.z7 .marker-nearby-trashbin,
.z8 .marker-nearby-trashbin,
.z9 .marker-nearby-trashbin,
.z10 .marker-nearby-trashbin,
.z11 .marker-nearby-trashbin,
.z12 .marker-nearby-trashbin {display: none !important;}
