<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vue multiselect</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/skeleton.css">
    <link rel="stylesheet" href="styles/custom.css">

</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="six columns">
                        <input type="text" name="title" v-model="form_title" class="u-full-width">
                        <select class="u-full-width">
                            <option v-for="item in selectable_options" v-on:click="select(item)">{{ item }}</option>
                        </select>
                        <input type="text" name="input_select" class="u-full-width" placeholder="Tag it..." v-on:keyup.enter="selectTag($event)" value="" v-model="selectable_tag_value" list="tags" autocomplete="off">
                            <datalist id="tags">
                                <select>
                                    <option v-for="item in selectable_tags" value="{{item}}"></option>
                                </select>
                            </datalist>
                        <div class="three columns"><li v-for="item in form_selected_options">{{ item }} <span v-on:click="select(item)">X</span></li></div>
                        <div class="three columns"><li v-for="item in form_selected_tags">{{ item }} <span v-on:click="removeTag(item)">X</span></li></div>
                        <button class="u-pull-right" v-on:click="submitForm($event)">Submit</button>

                </div>
            </div>

            <div class="row" v-if="form_submitted">
                <div class="six columns">
                    <p>Thanks for submitting the form</p>
                    <table class="u-full-width">
                        <tbody>
                            <tr>
                                <th>Title</th>
                                <td>{{ form_title }}</td>
                            </tr>
                            <tr>
                                <th>Selected options</th>
                                <td>{{ form_selected_options }}</td>
                            </tr>
                            <tr>
                                <th>Tags</th>
                                <td>{{ form_selected_tags }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button v-on:click="resetForm($event)">Reset form</button>

                </div>
            </div>
        </div>

    </div>

<script src="vue/vue.js"></script>
<script>

    new Vue({
        el: '#app',
        data: {
            selectable_options: [ 'first', 'second', 'third', 'fourth' ],
            selectable_tags: ['first', 'second', 'third', 'fourth', 'fifth', 'sixth'],
            selectable_tag_value: '',
            form_selected_options: [],
            form_selected_tags: [],
            form_title: '',
            form_submitted: false,
        },
        methods: {
            select: function(item) {
                var i = this.form_selected_options.indexOf(item);
                if(i > -1) {
                    this.form_selected_options.splice(i, 1);
                }
                else {
                    this.form_selected_options.push(item);
                }

            },

            selectTag: function(e) {
                console.log(e);

                var i = this.form_selected_tags.indexOf(this.selectable_tag_value);
                if(i > -1) {
                    this.form_selected_tags.splice(i, 1);
                    this.selectable_tag_value = '';
                }
                else {
                    this.form_selected_tags.push(this.selectable_tag_value);
                    this.selectable_tag_value = '';
                }
                return false;

            },

            removeTag: function(item) {

                var i = this.form_selected_tags.indexOf(item);
                if(i > -1) {
                    this.form_selected_tags.splice(i, 1);
                }

            },

            submitForm: function(e) {
                e.preventDefault();
                this.form_submitted = true
            },

            resetForm: function(e) {
                e.preventDefault();
                this.form_submitted = false;
                this.form_selected_options = [];
                this.form_selected_tags = [];
                this.form_title = '';
            }

        }
    })

</script>

</body>
</html>
